@font-face {
  font-family: "Raleway_regular";
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("ttf"), url("/fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway_bold";
  src: url("/fonts/Raleway-Bold.ttf"), url("/fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Raleway_medium";
  src: url("/fonts/Raleway-Medium.ttf"), url("/fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato_regular";
  src: url("/fonts/Lato-Regular.ttf"), url("/fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato_bold";
  src: url("/fonts/Lato-Bold.ttf"), url("/fonts/Lato-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
.body .content__wrapper {
  border: 2px solid red;
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.portfolio__section__list, .header__menu-list {
  text-transform: uppercase;
  font-family: "Raleway_regular", serif;
}

.header .text-content, .body .text-content {
  font-family: "Lato_regular", sans-serif;
  font-size: 16px;
}

.portfolio__section__list .portfolio__link, .body .bold-text-content {
  font-family: "Lato_bold", sans-serif;
  font-size: 16px;
}

.body .title {
  font-family: "Raleway_bold", serif;
  font-size: 30px;
  text-align: center;
}

.clients__section .text-content-box .img-content .inner-section__title__small {
  font-family: "Raleway_bold", serif;
  font-size: 16px;
  text-transform: uppercase;
}

.body .inner-section__title, .body .inner-section__title__big {
  font-family: "Raleway_medium", serif;
  font-size: 20px;
}

.product-features__section .container .img-container .img-container__btn, .header__button:nth-of-type(2), .header__button:first-child {
  text-transform: uppercase;
  color: white;
  font-family: "Raleway_medium", serif;
}

.about__section .container-1::after, .header .content__wrapper::before, .header .content__wrapper::after {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
}

.product-features__section .container .product-features__tabs .product-features__tab, .product-features__section .container, .portfolio__section-gallery, .portfolio__section__list, .about__section .img-box .img-box__wrapper, .header__menu-list, .body .container {
  display: flex;
  flex-direction: row;
}

.clients__section .text-content-box .img-content, .clients__section .text-content-box, .body .container-2 .benefit-box, .body .content__wrapper {
  display: flex;
  flex-direction: column;
}

.clients__section .text-content-box .img-content, .portfolio__section-gallery, .portfolio__section__list, .body .container-2 .benefit-box {
  justify-content: center;
  align-items: center;
}

.about__section .img-box .img-box__wrapper .img__wrapper:nth-of-type(2)::before, .about__section .img-box .img-box__wrapper .img__wrapper:nth-of-type(1)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 3px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  clip-path: polygon(0% 44%, 25% 0%, 75% 0%, 100% 43%, 75% 87%, 25% 87%);
}

.body {
  margin: 0;
  position: relative;
}
.body .common__padding {
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 100px;
  padding-left: 0;
}
.body__wrapper {
  max-width: 1400px;
  margin: 0 auto;
  border: 2px solid red;
}
.body .red-word {
  color: #f40436;
}
.body .title {
  margin: 0;
}
.body .inner-section__title, .body .inner-section__title__big {
  color: black;
  text-transform: none;
  font-weight: normal;
  border: 1px solid black;
}
.body .inner-section__title__big {
  text-transform: uppercase;
}
.body .bold-text-content {
  color: #505050;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 100px;
}
.body .container-2 .benefit-box .text-content {
  text-align: center;
}
.body .link {
  text-decoration: none;
}

main .wrapper {
  padding-top: 103px;
  padding-right: 0;
  padding-bottom: 103px;
  padding-left: 0;
}

.header {
  border: 1px solid black;
  height: 700px;
  position: relative;
  background-image: url("/img/header/images/photodune-3598715-woman-in-red-m.webp");
  background-repeat: no-repeat;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.header__menu-block {
  background-color: black;
  position: absolute;
  right: 0;
  left: 0;
}
.header__menu {
  position: relative;
  margin-left: auto;
}
.header__menu-list {
  list-style-type: none;
  color: white;
}
.header__menu-list li:nth-of-type(1) {
  margin-right: 30px;
}
.header__menu-list li:nth-of-type(2) {
  margin-right: 30px;
}
.header__menu-list li:nth-of-type(3) {
  margin-right: 30px;
}
.header__menu-list li:nth-of-type(4) {
  margin-right: 30px;
}
.header__menu-list li:nth-of-type(5) {
  margin-right: 30px;
}
.header__menu-list li:nth-of-type(6) {
  margin-right: 30px;
}
.header__menu-list li:nth-of-type(7) {
  margin-right: 30px;
}
.header__logo {
  position: absolute;
  z-index: 2;
}
.header__logo .header__logo-name {
  position: absolute;
  left: 66px;
  top: 36px;
}
.header .text-content {
  color: white;
  text-align: center;
}
.header .title .first-word {
  color: white;
}
.header .title .second-word {
  color: #f40436;
}
.header__form {
  margin-top: 51px;
}
.header__button {
  width: 170px;
  height: 52px;
  border: transparent;
}
.header__button:first-child {
  background-color: #f40436;
  font-size: 20px;
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 0;
}
.header__button:nth-of-type(2) {
  background-color: black;
  font-size: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 15px;
}
.header .content__wrapper .header__menu-block {
  border: 1px solid white;
}
.header .content__wrapper::after {
  background-image: url("/img/header/shapes/arrow-left (1).svg");
  width: 17px;
  height: 28px;
  top: 348px;
  left: -62px;
}
.header .content__wrapper::before {
  background-image: url("/img/header/shapes/arrow-right (1).svg");
  width: 17px;
  height: 28px;
  top: 348px;
  right: -62px;
}
.header__text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  margin-top: 0;
  margin-right: 65px;
  margin-bottom: 0;
  margin-left: 65px;
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
}
.header__text-content .text-content {
  margin-top: 46px;
}

.about__section {
  border: 1px solid black;
}
.about__section .title .first-word {
  color: black;
}
.about__section .title .second-word {
  color: #f40436;
}
.about__section .text-content {
  color: #505050;
  text-align: left;
  border: 1px solid black;
}
.about__section .container {
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.about__section .container-1::after {
  background-image: url("/img/main/about/shapes/scroll bar.png");
  width: 515px;
  height: 19px;
  bottom: -100px;
  left: 50%;
  transform: translatex(-50%);
}
.about__section .container-2 {
  border: 1px solid red;
  padding-top: 100px;
  margin-top: 100px;
}
.about__section .container-2 .icon_img {
  width: 88px;
  height: 76px;
}
.about__section .container-2 .icon_img path:nth-of-type(1) {
  fill: none;
}
.about__section .container-2 .icon_img path:nth-of-type(2) {
  fill: black;
}
.about__section .extra-content__tab {
  border: 1px solid black;
  display: flex;
}
.about__section .extra-content__tab:nth-of-type(1) {
  margin-bottom: 10px;
}
.about__section .extra-content__tab:nth-of-type(2) {
  margin-bottom: 10px;
}
.about__section .extra-content__tab .radio-btn__container {
  display: flex;
  padding-top: 0;
  padding-right: 21px;
  padding-bottom: 0;
  padding-left: 21px;
}
.about__section .description-content-box {
  max-width: 50%;
}
.about__section .description-content-box .text-content {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 41px;
  margin-left: 0;
}
.about__section .description-content-box .inner-section__title, .about__section .description-content-box .body .inner-section__title__big, .body .about__section .description-content-box .inner-section__title__big {
  padding-top: 14px;
  padding-right: 0;
  padding-bottom: 14px;
  padding-left: 31px;
  width: 100%;
}
.about__section .img-box {
  margin-left: 30px;
  border: 1px solid black;
  max-width: 47.7%;
}
.about__section .img-box .img-box__wrapper {
  position: relative;
  top: 23px;
}
.about__section .img-box .img-box__wrapper img {
  object-fit: contain;
}
.about__section .img-box .img-box__wrapper .img__wrapper:nth-of-type(1) {
  position: relative;
  bottom: 0;
}
.about__section .img-box .img-box__wrapper .img__wrapper:nth-of-type(2) {
  position: relative;
  bottom: 0;
  left: -195px;
}
.about__section .img-box .img-box__wrapper .img__wrapper:nth-of-type(3) {
  position: relative;
  top: -23px;
  left: -680px;
}

.portfolio__section {
  background-color: #262626;
}
.portfolio__section .title {
  color: white;
}
.portfolio__section .bold-text-content {
  margin-top: 23px;
}
.portfolio__section__list {
  list-style-type: none;
}
.portfolio__section__list .portfolio__link {
  color: #a4a4a4;
}
.portfolio__section__list .portfolio__link:nth-of-type(1) {
  margin-right: 23px;
}
.portfolio__section__list .portfolio__link:nth-of-type(2) {
  margin-right: 23px;
}
.portfolio__section__list .portfolio__link:nth-of-type(3) {
  margin-right: 23px;
}
.portfolio__section__list .portfolio__link:nth-of-type(4) {
  margin-right: 23px;
}
.portfolio__section-gallery {
  flex-wrap: wrap;
}

.product-features__section .inner-section__title__big {
  border: none;
}
.product-features__section .title .first-word {
  color: black;
}
.product-features__section .title .second-word {
  color: #f40436;
}
.product-features__section .bold-text-content {
  margin-bottom: 85px;
}
.product-features__section .container, .product-features__section .product-features__tabs, .product-features__section .img-container, .product-features__section .product-features__tab {
  border: 1px solid blueviolet;
}
.product-features__section .container {
  justify-content: center;
}
.product-features__section .container .img-container {
  position: relative;
}
.product-features__section .container .img-container .img-container__img {
  transform: translateY(-30px);
  object-fit: contain;
  position: relative;
}
.product-features__section .container .img-container .img-container__btn {
  background-color: #393939;
  font-size: 20px;
  border: transparent;
  padding: 17px 41px;
  position: absolute;
  left: 33%;
  bottom: 15%;
}
.product-features__section .container .product-features__tabs {
  padding-top: 95px;
}
.product-features__section .container .product-features__tabs .product-features__tab {
  border: 1px solid red;
  box-sizing: border-box;
  align-items: center;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
}
.product-features__section .container .product-features__tabs .product-features__tab:nth-of-type(1) {
  margin-bottom: 24px;
}
.product-features__section .container .product-features__tabs .product-features__tab:nth-of-type(2) {
  margin-bottom: 24px;
}
.product-features__section .container .product-features__tabs .product-features__tab .inner-section__title__big {
  white-space: nowrap;
}
.product-features__section .container .pf__tabs_block-1 {
  position: relative;
  left: 35px;
}
.product-features__section .container .pf__tabs_block-1 .product-features__tab {
  justify-content: end;
}
.product-features__section .container .pf__tabs_block-1 .product-features__tab .icon_img {
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 17px;
}
.product-features__section .container .pf__tabs_block-1 .product-features__tab .inner-section__title__big {
  margin-left: 20px;
}
.product-features__section .container .pf__tabs_block-2 {
  position: relative;
  right: 35px;
}
.product-features__section .container .pf__tabs_block-2 .product-features__tab {
  justify-content: start;
}
.product-features__section .container .pf__tabs_block-2 .product-features__tab .icon_img {
  order: 1;
  padding-top: 0;
  padding-right: 17px;
  padding-bottom: 0;
  padding-left: 20px;
}
.product-features__section .container .pf__tabs_block-2 .product-features__tab .inner-section__title__big {
  order: 2;
  margin-right: 20px;
}

.clients__section {
  background-image: url("/img/main/clients/images/photodune-3414776-business-group-m.webp");
  background-repeat: no-repeat;
}
.clients__section .title .first-word {
  color: white;
}
.clients__section .title .second-word {
  color: #f40436;
}
.clients__section .content__wrapper {
  border: 5px solid black;
}
.clients__section .container div {
  border: 1px solid red;
}
.clients__section .text-content-box {
  justify-content: space-between;
  align-items: center;
}
.clients__section .text-content-box .inner-section__title__big {
  color: white;
}
.clients__section .text-content-box .text-content {
  text-align: center;
  color: #a4a4a4;
}
.clients__section .text-content-box .img-content .inner-section__title__small {
  color: #f40436;
}
.clients__section .img-box {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
