.blog__section {

    div {
        border: 1px solid purple;
    }

    .blog__section__wrapper {
        @include padding(110px,30px,167px,30px);

        max-width: 1030px;
        margin: $center-margin;
        
        box-sizing: border-box;

        position: relative;
    }

    .title {
        @include diff-color-title($black, $red);
    }
}