.blog__section {

    div {
        border: 1px solid purple;
    }

    .blog__section__wrapper {
        @include padding(110px,30px,167px,30px);

        max-width: 1030px;
        margin: $center-margin;
        
        box-sizing: border-box;

        position: relative;
    }

    .title {
        @include diff-color-title($black, $red);
    }

    .blog__post {
        .post__title {
            font-family: Raleway_semibold;
            font-size: 20px;
            color: $most-dark-grey;
        }

        .blog__post-btn {
            @include sizes(120px,40px);
            border-radius: 0;
            border-color: transparent;

            @extend .text-content;
            text-transform: uppercase;
            color: $white;
        }

        &:nth-of-type(1) {
            .blog__post-btn {
                background-color: $red;
            }
        }
        &:nth-of-type(2) {
            .blog__post-btn {
                background-color: $black;
            }
        }
    }
}