.clients__section {  
    background-image: url('/img/main/clients/images/photodune-3414776-business-group-m.webp');
    background-repeat: no-repeat;
    height: 652px;

    position: relative;

    &::before {
        @include overlay(rgba(0, 0, 0, 0.9));
    }

    &::after {
        @include pseudo_elem(url('/img/main/clients/shapes/scroll bar copy.png'),515px,19px);
        
        bottom: -10px;
    }

    @extend %flex-row;
    @extend %flex-alignment;

    .title {
        @include diff-color-title($white, $red);
    }

    .content__wrapper {
        @include content-wrapper-height(auto);
    }

    .container {
        box-sizing: border-box;
        width: 100%;

        justify-content: space-between;

        .text-content-box {
            @extend %flex-column;
            @extend %flex-alignment;
            box-sizing: border-box;
    
            max-width: 50%;

            margin-right: 25px;
            
            
    //text style
            .inner-section__title__big {
                color: $white;
            }
    
            .text-content {
                text-align: $text-center;
                color: $dark-grey;
    
                @include margin(51px, 0, 50px, 0);
            }
    
            .img-content {
                @extend %flex-column;
                @extend %flex-alignment;
                
                .inner-section__title__small {
                    @extend %small-title-bold;
                    color: $red;
    
                    @include margin(17px, 0, 28px, 0);
                }
            }
        }

        .img-content-box {
            max-width: 50%;
            box-sizing: border-box;

            @extend %flex-column;
            justify-content: space-evenly;
            
            .img-box {
                @extend %flex-row;
                box-sizing: border-box;

                &:nth-child(1) {
                    margin-bottom: 39px;
                }

                img {
                    transition: all .15s ease-in;

                    &:nth-child(1) {
                        margin-right: 26px;
                    }

                    &:hover {
                        transform: scale(1.01);
    
                        outline: 1px inset $granite-grey; 
                    }
                }
            }
        }
    }
}
