.services__section {
    background-color: $light-raisin-black;

    .title {
        @include diff-color-title($white, $red);
    }

    .service__block {
        div, h2 {
            border: 1px solid red;
        }

        .service__block-upper-content {
            @extend %flex-row;
            justify-content: start;
            align-items: center;
        }

        .img__block {
            position: relative; 

            svg {
                width: 66px;
                height: 57px;
                fill: $dark-grey;
            }
        }

        &:first-child {
            .img__block {
                &::before {
                    @include service_pseudo__img(url('/img/main/services/shapes/1.png'),31px,23px);
                    top: 30%;
                    left: 3%;
                }
            }
        }

        &:nth-of-type(2) {
            .img__block {
                &::before {
                    @include service_pseudo__img(url('/img/main/services/shapes/2.png'),24px,28px);
                    top: 28%;
                    left: 3.7%;
                }
            }
        }

        &:nth-of-type(3) {
            .img__block {
                &::before {
                    @include service_pseudo__img(url('/img/main/services/shapes/3.png'),35px,35px);
                    top: 19.5%;
                    left: 2.7%;
                }
            }
        }

        &:nth-of-type(4) {
            .img__block {
                &::before {
                    @include service_pseudo__img(url('/img/main/services/shapes/4.png'),23px,28px);
                    top: 25%;
                    left: 3.8%;
                }
            }
        }

        &:nth-of-type(5) {
            .img__block {
                &::before {
                    @include service_pseudo__img(url('/img/main/services/shapes/5.png'),23px,24px);
                    top: 28%;
                    left: 3.8%;
                }
            }
        }

        &:last-child {
            .img__block {
                &::before {
                    @include service_pseudo__img(url('/img/main/services/shapes/6.png'),35px,24px);
                    top: 28%;
                    left: 2.8%;
                }
            }
        }
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 56px 30px;
    }
}
