.services__section {
    background-color: $raisin-black;
    position: relative;

    &::after {
        @include pseudo_elem(url('img/main/clients/shapes/scroll bar copy.png'),515px,19px);
        
        left: 50%;
        bottom: -10px;
        @include transform(x, -50%);
    }

    .title {
        @include diff-color-title($white, $red);
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 56px 30px;
    }

    .service__block {
        .service__block-upper-content {
            @extend %flex-row;
            justify-content: start;
            align-items: center;

            margin-bottom: 29px;

            .section-title-medium {
                color: $white;
                font-weight: 100;

                margin-left: 33px;
            }
        }

        .img__block {
            position: relative; 

            svg {
                width: 66px;
                height: 57px;
                fill: $dark-grey;

                transition: all .5s ease;

                &:hover {
                    fill: $red;
                }
            }
        }

        &:first-child {
            .img__block {
                &::before {
                    @include service_pseudo__img(url('img/main/services/shapes/1.png'),31px,23px);
                    top: 30%;
                    left: 26%;
                }
            }
        }

        &:nth-of-type(2) {
            .img__block {
                &::before {
                    @include service_pseudo__img(url('img/main/services/shapes/2.png'),24px,28px);
                    top: 28%;
                    left: 33%;
                }
            }
        }

        &:nth-of-type(3) {
            .img__block {
                &::before {
                    @include service_pseudo__img(url('img/main/services/shapes/3.png'),35px,35px);
                    top: 19.5%;
                    left: 24%;
                }
            }
        }

        &:nth-of-type(4) {
            .img__block {
                &::before {
                    @include service_pseudo__img(url('img/main/services/shapes/4.png'),23px,28px);
                    top: 25%;
                    left: 33%;
                }
            }
        }

        &:nth-of-type(5) {
            .img__block {
                &::before {
                    @include service_pseudo__img(url('img/main/services/shapes/5.png'),23px,24px);
                    top: 28%;
                    left: 34%;
                }
            }
        }

        &:last-child {
            .img__block {
                &::before {
                    @include service_pseudo__img(url('img/main/services/shapes/6.png'),35px,24px);
                    top: 28%;
                    left: 24.2%;
                }
            }
        }

        .text__block {
            min-height: 121px;
            background-color: #343434;

            @extend %flex-row;
            @extend %flex-alignment;
           

            .text-content {
                display: inline-block;
                box-sizing: border-box;

                color: $dark-grey;
            }
        }
    }
}
