.teamwork__section {
    .team-member__card {
        border: 1px solid black;

        box-sizing: border-box;

        @include margin-loop(right, 1, 4, 30px);
        @extend %flex-column;
        
        text-align: center;
    }

    img {
        max-width: 100%;
    }
}