.twitter__section {
    background-color: $raisin-black;
    background-image: url('img/main/twitter/twitter_big.png');
    background-repeat: no-repeat;
    background-position: 0 0;

    max-height: 295px;

    position: relative;

    &::after {
        @include pseudo_elem(url('img/main/clients/shapes/scroll bar copy.png'),515px,19px);
        
        left: 50%;
        bottom: -10px;
        @include transform(x, -50%);

        z-index: 2;
    }
    
    .content__wrapper {
        @extend %flex-column;
        @extend %flex-alignment;

        @include padding(87px, 0, 87px, 0);

        .img-box {
            margin-bottom: 0px;
            z-index: 2;

            @include padding(13px,0,20px,0);
            box-sizing: border-box;

            svg {
                @include sizes(39px, 31px);
                fill: #3d3d3d;

                transition: all .15s ease-out;

                &:hover {
                    fill: $red;
                }
            }
        }
    
        .text-content {
            color: $white;

            max-width: 645px;
            text-align: center;

            z-index: 2;
        }
    }
}