@font-face {
    font-family: 'Raleway_regular';
    src: url('/fonts/Raleway-VariableFont_wght.ttf') format('ttf'),
            url('/fonts/Raleway-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway_bold';
    src: url('/fonts/Raleway-Bold.ttf'),
            url('/fonts/Raleway-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway_semibold';
    src: url('/fonts/Raleway-SemiBold.ttf'),
            url('/fonts/Raleway-SemiBold.woff2') format('woff2');
    font-weight:bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway_medium';
    src: url('/fonts/Raleway-Medium.ttf'),
            url('/fonts/Raleway-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_regular';
    src: url('/fonts/Lato-Regular.ttf'),
            url('/fonts/Lato-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_bold';
    src: url('/fonts/Lato-Bold.ttf'),
            url('/fonts/Lato-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato_black';
    src: url('/fonts/Lato-Black.ttf'),
            url('/fonts/lato-black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
