//Width & height
$content-width: 1170px;
$desktop: 1400px;

$header-height: 700px;
$clients-section-height: 652px;

$hundred-percent: 100%;


//Paddings & margins
$reset-margin: 0;
$center-margin: 0 auto;

//Styles
$reset-styles: none;
$text-center: center;

//Colors
$white: white;
$red: #f40436;
$black: black;

$most-dark-grey: #505050;
$granite-grey: #676767;
$dark-grey: #a4a4a4;
$light-grey: #f2f2f2;
$silver-grey: #a2a2a2;
$raisin-black:#262626;

$transparent: transparent;


//Fonts & text
$regular-header-font: 'Raleway_regular', serif;
$bold-header-font: 'Raleway_bold', serif;
$medium-header-font: 'Raleway_medium', serif;

$regular-text-font: 'Lato_regular', sans-serif;
$bold-text-font: 'Lato_bold', sans-serif;

$regular-font-size: 16px;
$regular-title-size: 30px;
$medium-section-title-size: 20px;

$uppercase: uppercase;